<!DOCTYPE html>
<html lang="ja">
<head>
  <title>クロスワードパズル</title>
  <base target="_top">
  <meta charset="UTF-8">
</head>

<body>
<div id="app">
  <!-- 待機画面 -->
  <div class="wait-screen" v-show="waitFlg">
    <div class="indicator"></div>
    <p class="wait-mess">保存中...</p>
  </div>

  <h1>クロスワード</h1>

  <!-- 基本情報編集エリア -->
  <div>
    <h4>タイトル</h4>
    <input type="text" v-model="title">
    <button @click="savePuzzle()">保存</button>
  </div>

  <!-- マス編集エリア -->
  <div class="edit-area">
  <!-- モード切替タブ -->
  <div class="edit-tab-area">
    <input type="radio" name="edit-mode" value="01" v-model="editMode" id="edit-mode-tab-rb1" class="edit-mode-tab-rb">
    <label for="edit-mode-tab-rb1" class="edit-mode-tab-lbl">パズルマス編集</label>
    <input type="radio" name="edit-mode" value="02" v-model="editMode" id="edit-mode-tab-rb2" class="edit-mode-tab-rb">
    <label for="edit-mode-tab-rb2" class="edit-mode-tab-lbl">解答マス選択</label>
  </div>

  <!-- 編集タブエリア（モード：パズルマス編集） -->
  <div v-if="editMode == '01'" class="edit-mode-tab-area">
    <!-- 行追加/削除ボタン -->
    <div class="mass-edit-group">
    <h4>行追加/削除</h4>
    <button type="button" @click="addRow()">＋</button>
    <button type="button" @click="delRow()">ー</button>
    </div>
    
    <!-- 列追加/削除ボタン -->
    <div class="mass-edit-group">
      <h4>列追加/削除</h4>
      <button type="button" @click="addColumn()">＋</button>
      <button type="button" @click="delColumn()">ー</button>
    </div>
    
    <!-- 黒マスボタン -->
    <div class="mass-edit-group">
      <button type="button" @click="switchMassType()">黒マス</button>
    </div>
  </div>

  <!-- 編集タブエリア（モード：解答マス選択） -->
  <div v-else class="edit-mode-tab-area">
    <!-- 1文字戻るボタン -->
    <div class="mass-edit-group">
      <button type="button" @click="popAnswerMass()">1文字戻る</button>
    </div>

    <!-- 全クリアボタン -->
    <div class="mass-edit-group">
      <button type="button" @click="clearAnserMass()">クリア</button>
    </div>

    <!-- 解答エリア -->
    <div class="answer-area">
      <table class="cw">
        <tr v-for="(pzlRow, rowNo) in getAnsMassTable()">
          <td v-for="(ansMass, massNo) in pzlRow" class="puzzle-mass answer-mass">
            <div class="puzzle-mass-inner key-word-mass-inner">
              <div class="clue-no"></div>
              <div class="input-char">
                {{ansMass.value}}
              </div>
              <div class="key-word-id">
                {{ansMass.keywordNo}}
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- パズル -->
  <div class="puzzle-edit-area">
    <table class="cw">
      <tbody>
        <tr v-for="(pzlRow, rowNo) in puzzle">
          <td v-for="(pzlMass, colNo) in pzlRow" 
          :class="getPzlMassClsAttr(pzlMass, rowNo, colNo)">
          <div @click="execPzlMassClickEvent(rowNo, colNo)">
            <div :class="['puzzle-mass-inner', isNotEmpty(pzlMass.keywordNo) ? 'key-word-mass-inner' : '']">
              <div class="clue-no">
                {{ pzlMass.clueNo }}
              </div>
              <div class="input-char">
                {{ pzlMass.value }}
              </div>
              <div class="key-word-id">
                {{pzlMass.keywordNo}}
              </div>
            </div>
            <d/div>
          </td>
        </tr>  
      </tbody>
    </table> 
  </div>
  </div>

  <!-- アイウエオ表 -->
  <div class="edit-area">
  <details>
    <summary>五十音表</summary>
    <table v-for="aiueoTable in aiueoTableList" class="aiueo">
      <tbody>
        <tr v-for="aiueoRow in aiueoTable">
          <td v-for="aiueoMass in aiueoRow" :class="aiueoMass.type" @click="aiueoMass.type == 'aiueo-mass' ? setActiveMassValue(aiueoMass.value) : null">
            {{ aiueoMass.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </details>
  </div>

  <!-- カギ編集エリア -->
  <div class="edit-area">
    <details>
      <summary>カギ編集</summary>
      <!-- カギ編集ボタンエリア -->
      <div class="clue-edit-btn-area">
        <button type="button" @click="clearClueText()">クリア</button>
        <button type="button" @click="clearAllClueText()">全クリア</button>
      </div>
      <!-- カギ一覧エリア -->
      <div class="clue-area">
        <div v-for="clue in getClueList()" :class="getClueBlockClsAttr(clue.type, clue.clueNo)" @click="changeActiveClue(clue.type, clue.clueNo)">
          <div class="clue-type-no"><b>{{clue.typeName}} {{clue.clueNo}} 「{{clue.answer}}」</b></div>
          <div class="clue-text-area">
            <textarea class="clue-textarea" v-model="clueListInfo[clue.type][clue.clueNo]"></textarea>
          </div>
        </div>
      </div>
    </details>
  </div>

</div>
</body>

<style type="text/css">
/*** 待機画面 ************************************************************/
.wait-screen{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.indicator{
  border: 12px solid #fdfdfd;
  border-radius: 50%;
  border-top: 12px solid #409df9;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

.wait-mess{
  font-size: 20px;
  color: #fdfdfd;
}

/*** 編集エリア ************************************************************/
.edit-area{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

/*** パズル編集ボタン群 *****************************************************/
.mass-edit-group{
  display: inline-block;
  padding: 10px;
}

.edit-tab-area{
  display: flex; 
}

.edit-mode-tab-rb{
  display: none;
}

.edit-mode-tab-lbl{
  display: block;
  width: 215px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(95, 95, 95);
  text-align: center;
}

input:checked + .edit-mode-tab-lbl{
  display: block;
  background-color: rgb(201, 201, 201);
}

.edit-mode-tab-area{
  height: 230px;
  background-color: rgb(201, 201, 201);
  overflow-y: scroll;
}

table.cw{
    border-collapse: collapse;
    
    color: rgb(25, 25, 25);
    margin-bottom: 50px;
}


/*** 解答マス選択タブエリア *****************************************************/
.answer-area{
  padding: 10px;
}

.answer-mass{
  background-color: white;
}

/*** パズル表 *************************************************************/
.puzzle-edit-area{
  margin-top: 10px;
}

.puzzle-mass{
  border: 2px solid rgb(140, 140, 140);
  height: 60px;
  width: 60px;
}

.puzzle-mass:hover{
  cursor: pointer;
}

.input-mass{
    background-color: white;
}

.active-line{
    background-color: rgb(181, 254, 255);
}

.active-mass{
    background-color: rgb(57, 149, 255);
    outline: 5px solid rgb(57, 149, 255);
    outline-offset: -5px;
}

.filled-mass{
    background-color: black;
}

.puzzle-mass-inner{
  margin: 2px;
  border: 2px dashed rgba(1, 1, 1, 0);
}

.key-word-mass-inner{
  border: 2px dashed rgb(96, 122, 135);
}

.clue-no{
    height: 15px;
    width: 60px;
    font-size: 1em;
    text-align: left;
    padding-left: 3px;
    color: rgb(50, 50, 50);
}

.input-char{
    position: relative;
    top: -5px;
    font-size: 2.1em;
    text-align: center;
    height: 30px;
    width: 60px;
    color: rgb(25, 25, 25);
}

.key-word-id{
  height: 15px;
  width: 60px;
  font-size: 1em;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
  color: rgb(96, 122, 135);
}

/*** 五十音表 *************************************************************/
table.aiueo{
    font-size: 1.5em;
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
}

.aiueo-mass{
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(214, 255, 238);
    text-align: center;
}

.aiueo-mass:hover{
  cursor: pointer;
  background-color: rgb(24, 188, 120);
}

.space-mass{
    background-color: rgba(0,0,0,0);
}

/*** カギ編集 *************************************************************/
.clue-edit-btn-area{
  padding: 20px;
}

.clue-area{
  height: 510px;
  width: 410px;
  outline: 1px solid rgb(80, 80, 80);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 100px;
}

.clue-block{
  height: 100px;
  width: calc(100% - 20px - var(--scrollbar));
  margin: 10px;
  padding: 5px;
  background-color: rgb(235, 235, 235);
}

.clue-block:hover{
  cursor: pointer;
}

.active-clue{
  outline: 3px solid rgb(57, 149, 255);
}

.clue-type-no{
  color: rgb(78, 121, 248); 
}

.clue-textarea{
  height: 60px;
  width: calc(100% - 20px);
  resize: none;
  border: none;
  outline: none;
  margin: 5px;
  background-color: rgb(235, 235, 235);
}
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript">

const EditMode = {
  MASS_EDIT: "01",
  ANS_SLCT: "02"
}

const MassType = {
  INPUT: "0",
  FILLED: "1"
}

const ClueType = {
  ACROSS: "1",
  DOWN: "2"
};

const ClueTypeName = {
  ACROSS: "ヨコ",
  "1": "ヨコ",
  DOWN: "タテ",
  "2": "タテ"
};

const KEYWORD_ID_LIST = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];

const KEYWORD_TBL_MIN_COL = 5;

new Vue({
  el: "#app",
  data: {
    // 待機モードフラグ
    waitFlg: false,

    // パズルID
    puzzleId: null,
    // puzzleId: <?= curPuzzleId ?>,

    // タイトル
    title: null,

    // 編集モード
    editMode: EditMode.MASS_EDIT,

    // パズルマス情報
    puzzle:  [
      [
        {type: MassType.INPUT, value: "", clueNo: "1", typeClueNo:{"1": "1", "2": "1"}, keywordNo: ""}, 
        {type: MassType.INPUT, value: "", clueNo: "3", typeClueNo:{"1": "1", "2": "3"}, keywordNo: ""}
      ],
      [
        {type: MassType.INPUT, value: "", clueNo: "2", typeClueNo:{"1": "2", "2": "1"}, keywordNo: ""},
        {type: MassType.INPUT, value: "", clueNo: "", typeClueNo:{"1": "2", "2": "3"}, keywordNo: ""}
      ],
    ],
    // アクティブマス情報
    activeMass: {
      rowNo: 0,
      colNo: 0,
      clueType: ClueType.ACROSS
    },
    // カギ問題文情報
    clueListInfo: {
      "1": {
        "1": null,
        "3": null
      },
      "2": {
        "1": null,
        "2": null
      }
    },
    // アイウエオ表
    aiueoTableList: [
      // 上段
      [
        [{value: "ア", type: "aiueo-mass"}, {value: "カ", type: "aiueo-mass"}, {value: "サ", type: "aiueo-mass"}, {value: "タ", type: "aiueo-mass"}, {value: "ナ", type: "aiueo-mass"}, {value: "ハ", type: "aiueo-mass"}, {value: "マ", type: "aiueo-mass"}, {value: "ヤ", type: "aiueo-mass"}, {value: "ラ", type: "aiueo-mass"}, {value: "ワ", type: "aiueo-mass"}, {value: "ン", type: "aiueo-mass"}],
        [{value: "イ", type: "aiueo-mass"}, {value: "キ", type: "aiueo-mass"}, {value: "シ", type: "aiueo-mass"}, {value: "チ", type: "aiueo-mass"}, {value: "ニ", type: "aiueo-mass"}, {value: "ヒ", type: "aiueo-mass"}, {value: "ミ", type: "aiueo-mass"}, {value: "", type: "space-mass"}, {value: "リ", type: "aiueo-mass"}, {value: "", type: "space-mass"}, {value: "ー", type: "aiueo-mass"}],
        [{value: "ウ", type: "aiueo-mass"}, {value: "ク", type: "aiueo-mass"}, {value: "ス", type: "aiueo-mass"}, {value: "ツ", type: "aiueo-mass"}, {value: "ヌ", type: "aiueo-mass"}, {value: "フ", type: "aiueo-mass"}, {value: "ム", type: "aiueo-mass"}, {value: "ユ", type: "aiueo-mass"}, {value: "ル", type: "aiueo-mass"}, {value: "", type: "space-mass"}, {value: "", type: "space-mass"}],
        [{value: "エ", type: "aiueo-mass"}, {value: "ケ", type: "aiueo-mass"}, {value: "セ", type: "aiueo-mass"}, {value: "テ", type: "aiueo-mass"}, {value: "ネ", type: "aiueo-mass"}, {value: "ヘ", type: "aiueo-mass"}, {value: "メ", type: "aiueo-mass"}, {value: "", type: "space-mass"}, {value: "レ", type: "aiueo-mass"}, {value: "", type: "space-mass"}, {value: "", type: "space-mass"}],
        [{value: "オ", type: "aiueo-mass"}, {value: "コ", type: "aiueo-mass"}, {value: "ソ", type: "aiueo-mass"}, {value: "ト", type: "aiueo-mass"}, {value: "ノ", type: "aiueo-mass"}, {value: "ホ", type: "aiueo-mass"}, {value: "モ", type: "aiueo-mass"}, {value: "ヨ", type: "aiueo-mass"}, {value: "ロ", type: "aiueo-mass"}, {value: "ヲ", type: "aiueo-mass"}, {value: "", type: "space-mass"}]
      ],
      // 下段
      [
        [{value: "ガ", type: "aiueo-mass"}, {value: "ザ", type: "aiueo-mass"}, {value: "ダ", type: "aiueo-mass"}, {value: "バ", type: "aiueo-mass"}, {value: "パ", type: "aiueo-mass"}],
        [{value: "ギ", type: "aiueo-mass"}, {value: "ジ", type: "aiueo-mass"}, {value: "ヂ", type: "aiueo-mass"}, {value: "ビ", type: "aiueo-mass"}, {value: "ピ", type: "aiueo-mass"}],
        [{value: "グ", type: "aiueo-mass"}, {value: "ズ", type: "aiueo-mass"}, {value: "ズ", type: "aiueo-mass"}, {value: "ブ", type: "aiueo-mass"}, {value: "プ", type: "aiueo-mass"}],
        [{value: "ゲ", type: "aiueo-mass"}, {value: "ゼ", type: "aiueo-mass"}, {value: "デ", type: "aiueo-mass"}, {value: "ベ", type: "aiueo-mass"}, {value: "ペ", type: "aiueo-mass"}],
        [{value: "ゴ", type: "aiueo-mass"}, {value: "ゾ", type: "aiueo-mass"}, {value: "ド", type: "aiueo-mass"}, {value: "ボ", type: "aiueo-mass"}, {value: "ポ", type: "aiueo-mass"}]
      ]
    ]
  },
  watch: {
    puzzle: function(newVal, oldVal){
      this.renewClueNo();

      // confirm(this.editMode)
    }
  },
  methods: {
    // 空文字判定
    isEmpty(value){
      return (value === undefined || value === null || value === "");
    },

    // 空文字でない判定
    isNotEmpty(value){
      return !this.isEmpty(value);
    },

    // マス情報取得
    getMassInfo(rowNo, colNo){
      return this.puzzle[rowNo][colNo];
    },

    // 新規マス作成
    getNewMass(type, clueNo = null, acrossClueNo = null, downClueNo = null, keywordNo = null){
      let newMass = {
        type: type, 
        value: null, 
        clueNo: clueNo, 
        typeClueNo: {},
        keywordNo: keywordNo
      };

      newMass.typeClueNo[ClueType.ACROSS] = acrossClueNo;
      newMass.typeClueNo[ClueType.DOWN] = downClueNo;

      return newMass;
    },

    // アクティブマスの取得
    getActiveMass(){
      return this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
    },

    // 新規アクティブマス作成
    getNewActiveMass(rowNo, colNo, clueType){
      return {
        rowNo: rowNo,
        colNo: colNo,
        clueType: clueType
      };
    },

    // 指定マスがアクティブかどうか
    isActiveMass(rowNo, colNo){
      return (this.activeMass.rowNo === rowNo) && (this.activeMass.colNo === colNo);
    },

    // 指定マスがアクティブ行/列かどうか
    isActiveLine(rowNo, colNo){
      let actMass = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
      let tarMass = this.puzzle[rowNo][colNo];

      // アクティブマスまたは指定マスが黒マスの場合
      if(actMass.type == MassType.FILLED || tarMass.type == MassType.FILLED){
        return false;
      }

      // アクティブマスとカギ番号が一致するか
      let tarMassClueNo = tarMass.typeClueNo[this.activeMass.clueType];
      let actMassClueNo = actMass.typeClueNo[this.activeMass.clueType];

      return tarMassClueNo == actMassClueNo;
    },

    // キーワードID発行
    getNextKeywordNo(){
      let nextIdIdx = this.getAnsMassList().length;
      let nextId = null;

      if(nextIdIdx < KEYWORD_ID_LIST.length){
        nextId = KEYWORD_ID_LIST[nextIdIdx];
      }

      return nextId;
    },

    // 解答マスリスト取得
    getAnsMassList(){
      let ansMassList = [];

      // キーワードIDを持つマスの抽出
      for(let pzlRow of this.puzzle){
        for(let mass of pzlRow){
          if(this.isNotEmpty(mass.keywordNo)){
            ansMassList.push(mass);
          }
        }
      }

      // キーワードIDアルファベット順に並び替え
      ansMassList.sort(((mass1, mass2) => mass1.keywordNo.charCodeAt(0) - mass2.keywordNo.charCodeAt(0)));

      return ansMassList;
    },

    // 回答マステーブル取得
    getAnsMassTable(){
      let ansMassList = this.getAnsMassList();

      if(ansMassList.length == 0){
        return [];
      }

      let ansMassTbl = [[]];
      let ansMassRow = ansMassTbl[0];

      // パズル編集エリアをはみ出さないように改行
      for(let mass of ansMassList){
        if(ansMassRow.length >= Math.max(KEYWORD_TBL_MIN_COL, this.puzzle[0].length)){
          ansMassRow = [mass];
          ansMassTbl.push(ansMassRow);
        } else {
          ansMassRow.push(mass);
        }
      }

      return ansMassTbl;
    },

    // カギ種別切り替え
    toggleClueType(clueType){
      return (clueType == ClueType.ACROSS) ? ClueType.DOWN : ClueType.ACROSS;
    },

    // パズルマスクリックイベント
    execPzlMassClickEvent(rowNo, colNo){
      switch (this.editMode) {
        case EditMode.MASS_EDIT:
          this.changeActiveMass(rowNo, colNo);
          break;
      
        case EditMode.ANS_SLCT:
          this.changeActiveMass(rowNo, colNo);
          
          let actMass = this.puzzle[rowNo][colNo];
          // confirm(JSON.stringify(actMass.keywordNo));

          if(this.isEmpty(actMass.keywordNo)){
            // confirm(this.getNextKeywordNo());
            actMass.keywordNo = this.getNextKeywordNo();
          }

          // confirm(JSON.stringify(actMass));
          break;
      }

      // confirm(JSON.stringify(this.puzzle[rowNo][colNo]));
    },

    // パズルマスのclass属性取得
    getPzlMassClsAttr(pzlMass, rowNo, colNo){
      let clsAttrList = [];

      // パズルマス共通属性
      clsAttrList.push("puzzle-mass");

      // パズルマス種別
      // confirm("rowNo:" + rowNo + " colNo:" + colNo + " pzlMass:" + JSON.stringify(pzlMass));
      clsAttrList.push(pzlMass.type == MassType.INPUT ? "input-mass" : "filled-mass");

      if (this.isActiveMass(rowNo, colNo)){
        // アクティブマス
        clsAttrList.push("active-mass");
      } else if(this.isActiveLine(rowNo, colNo)) {
        // アクティブ行/列
        clsAttrList.push("active-line");
      }

      return clsAttrList;
    },

    // 指定されたマスをアクティブマスに切り替え
    changeActiveMass(rowNo, colNo){
      let pzlMass = this.puzzle[rowNo][colNo];

      // 新アクティブマスのカギ種別
      let clueType = null;

      // 変更先マスが現アクティブマスの場合
      if ((this.activeMass.rowNo === rowNo) && (this.activeMass.colNo === colNo)){
        clueType = this.activeMass.clueType;

        // カギのタテヨコ切り替え
        let oppClueType = this.toggleClueType(clueType);
        if(this.isNotEmpty(pzlMass.typeClueNo[oppClueType])){
          clueType = oppClueType;
        }

      } else {
        // ヨコのカギがあればヨコ、なければタテ
        clueType = this.isNotEmpty(pzlMass.typeClueNo[ClueType.ACROSS]) ? ClueType.ACROSS : ClueType.DOWN;
      }

      // アクティブマス差し替え
      this.activeMass = this.getNewActiveMass(rowNo, colNo, clueType);
    },

    // アクティブマスを次の入力マスへ移動
    shiftActiveMass(){
      let nextRowNo = null;
      let nextColNo = null;

      // 次の入力マスのインデックスを取得
      switch (this.activeMass.clueType) {
        case ClueType.ACROSS:
          nextRowNo = this.activeMass.rowNo;
          nextColNo = this.activeMass.colNo + 1;
          break;
      
        case ClueType.DOWN:
          nextRowNo = this.activeMass.rowNo + 1;
          nextColNo = this.activeMass.colNo;
          break;
      }

      // 次の入力マス
      let nextMass = this.puzzle[nextRowNo][nextColNo];

      // 次の入力マスが入力マスの場合
      if(this.isNotEmpty(nextMass) && nextMass.type === MassType.INPUT){
        // アクティブマス切り替え
        this.activeMass = this.getNewActiveMass(nextRowNo, nextColNo, this.activeMass.clueType);
      }
    },

    // キーワード回答作成
    createKeyWordAnswer(){
      let kwMassList = [];

      for (let pzlRow of this.puzzle){
        // キーワードマスのみを抽出
        kwMassList = kwMassList.concat(pzlRow.filter((mass) => this.isNotEmpty(mass.keywordNo)));
      }

      // キーワードID昇順で並び替え
      kwMassList.sort((prev, next) => prev.keywordNo.localeCompare(next.keywordNo));

      // マスの入力値のリストに変換
      return kwMassList.map((mass) => mass.value).join("");
    },

    // アクティブマスに文字入力する
    setActiveMassValue(value){
      // 文字入力
      let pzlMass = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
      this.$set(pzlMass, "value", value);

      // アクティブマスを次の入力マスへ移動
      this.shiftActiveMass();
    },

    // パズル行追加
    addRow(){
      let newRow = new Array();

      for(let row_i = 0; row_i < this.puzzle[0].length; row_i++){
        newRow.push(this.getNewMass(MassType.INPUT));
      }

      this.puzzle.push(newRow);
    },

    // パズル行削除
    delRow(){
      if(this.puzzle.length > 2){
        this.puzzle.pop();
      }
    },

    // パズル列追加
    addColumn(){
      for(let pzlRow of this.puzzle){
        pzlRow.push(this.getNewMass(MassType.INPUT));
      }
    },

    // パズル削除
    delColumn(){
      if(this.puzzle[0].length > 2){
        for(let pzlRow of this.puzzle){
        pzlRow.pop();
        }
      }
    },

    // 黒マス切り替え
    switchMassType(){
      let actMass = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];
      actMass.type = (actMass.type === MassType.INPUT ? MassType.FILLED : MassType.INPUT);
      actMass.value = null;

      this.renewClueNo();
    },

    // カギ番号更新
    renewClueNo(){
      let nextClueNo = 1;

      for(let colNo in this.puzzle[0]){
        for(let rowNo in this.puzzle){
          // IN句のindexはString型らしい
          rowNo = Number(rowNo);
          colNo = Number(colNo);

          let row = this.puzzle[rowNo];
          let mass = row[colNo];

          // confirm(rowNo + ", " + colNo);

          // カギ番号クリア
          mass.clueNo = null;
          mass.typeClueNo[ClueType.ACROSS] = null;
          mass.typeClueNo[ClueType.DOWN] = null;

          // 黒マスはスキップ
          if(mass.type == MassType.FILLED){
            continue;
          }

          // 1. カギ番号設定

          // ヨコのカギチェック
          //   左端 または 左隣が黒マス
          //     かつ
          //   右端でない かつ 右隣が白マス
          if(((colNo == 0) || (row[colNo - 1].type == MassType.FILLED))
            && ((colNo < row.length - 1) && (row[colNo + 1].type == MassType.INPUT))
          ){
              // confirm("ヨコ");
              // confirm(rowNo + ", " + (colNo - 1) + ": " + JSON.stringify(row[colNo - 1]));
              // confirm(rowNo + ", " + colNo + ": " + JSON.stringify(row[colNo]));
              // confirm(rowNo + ", " + (colNo + 1) + ": " + JSON.stringify(row[colNo + 1]));
              mass.clueNo = nextClueNo;
              mass.typeClueNo[ClueType.ACROSS] = mass.clueNo;
              nextClueNo++;
          }
          
          // タテのカギチェック
          //   上端 または 上隣が黒マス
          //     かつ
          //   下端でない かつ 下隣が白マス
          if(((rowNo == 0) || (this.puzzle[rowNo - 1][colNo].type == MassType.FILLED))
            && ((rowNo < this.puzzle.length - 1) && (this.puzzle[rowNo + 1][colNo].type == MassType.INPUT))
          ){
              // confirm("タテ");
              // confirm((rowNo - 1) + ", " + colNo + ": " + JSON.stringify(this.puzzle[rowNo - 1] ? this.puzzle[rowNo - 1][colNo] : undefined));
              // confirm(rowNo + ", " + colNo + ": " + JSON.stringify(row[colNo]));
              // confirm((rowNo + 1) + ", " + colNo + ": " + JSON.stringify(this.puzzle[rowNo + 1] ? this.puzzle[rowNo + 1][colNo] : undefined));
              
              if(mass.clueNo === null){
                mass.clueNo = nextClueNo;
                nextClueNo++;
              }

              mass.typeClueNo[ClueType.DOWN] = mass.clueNo;
          }

          // 2. ヨコのカギ番号設定
          // 左端でない かつ 左隣が白マス
          if(mass.typeClueNo[ClueType.ACROSS] === null
            && colNo > 0
            && row[colNo - 1].type == MassType.INPUT
          ){
            mass.typeClueNo[ClueType.ACROSS] = row[colNo - 1].typeClueNo[ClueType.ACROSS];
          }


          // 3. タテのカギ番号設定
          // 上端でない かつ 上隣が白マス
          if(mass.typeClueNo[ClueType.DOWN] === null
            && rowNo > 0
            && this.puzzle[rowNo - 1][colNo].type == MassType.INPUT
          ){
            mass.typeClueNo[ClueType.DOWN]  = this.puzzle[rowNo - 1][colNo].typeClueNo[ClueType.DOWN] ;
          }

        }
      }
    },

    // カギ一覧取得
    getClueList(){
      let clueList = [];

      for(let colNo = 0; colNo < this.puzzle[0].length; colNo++){
        for(let rowNo = 0; rowNo < this.puzzle.length; rowNo++){
          let pzlMass = this.puzzle[rowNo][colNo];

          // カギ番号のあるマスの場合
          if(this.isNotEmpty(pzlMass.clueNo)){
            // ヨコのカギが存在する場合
            if(pzlMass.typeClueNo[ClueType.ACROSS]  === pzlMass.clueNo){
              // カギの回答取得
              let clueAns = "";
              for(let clueColNo = colNo; clueColNo < this.puzzle[0].length; clueColNo++){
                let clueMass = this.puzzle[rowNo][clueColNo];

                // confirm("across[" + rowNo + "][" + clueColNo + "]" + "\r\n" + JSON.stringify(clueMass));

                if(clueMass.type == MassType.FILLED){
                  break;
                }

                clueAns += (this.isEmpty(clueMass.value) ? "〇" : clueMass.value);
              }

              clueList.push({
                type: ClueType.ACROSS,
                typeName: ClueTypeName.ACROSS,
                clueNo: pzlMass.clueNo,
                question: this.clueListInfo[ClueType.ACROSS][pzlMass.clueNo],
                answer: clueAns
              });
            }

            // タテのカギが存在する場合
            if(pzlMass.typeClueNo[ClueType.DOWN] === pzlMass.clueNo){
              // カギの回答取得
              let clueAns = "";
              for(let clueRowNo = rowNo; clueRowNo < this.puzzle.length; clueRowNo++){
                let clueMass = this.puzzle[clueRowNo][colNo];

                // confirm("down[" + clueRowNo + "][" + colNo + "]" + "\r\n" + JSON.stringify(clueMass));

                if(clueMass.type == MassType.FILLED){
                  break;
                }

                clueAns += (this.isEmpty(clueMass.value) ? "〇" : clueMass.value);
              }

              clueList.push({
                type: ClueType.DOWN,
                typeName: ClueTypeName.DOWN,
                clueNo: pzlMass.clueNo,
                question: this.clueListInfo[ClueType.DOWN][pzlMass.clueNo],
                answer: clueAns
              });
            }

          }
        }
      }

      return clueList;
    },

    // カギ区画クラス属性取得
    getClueBlockClsAttr(clueType, clueNo){
      let clsAttrList = ["clue-block"];
      
      let actMass = this.puzzle[this.activeMass.rowNo][this.activeMass.colNo];

      switch (this.activeMass.clueType) {
        case ClueType.ACROSS:
          if(clueType == ClueType.ACROSS && clueNo == actMass.typeClueNo[ClueType.ACROSS]){
            clsAttrList.push("active-clue");
          }
          break;
      
        case ClueType.DOWN:
          if(clueType == ClueType.DOWN && clueNo == actMass.typeClueNo[ClueType.DOWN]){
            clsAttrList.push("active-clue");
          }
          break;
      }

      return clsAttrList;
    },

    // アクティブカギブロック変更（アクティブマス変更）
    changeActiveClue(clueType, clueNo){
      for(let colNo = 0; colNo < this.puzzle[0].length; colNo++){
        for(let rowNo = 0; rowNo < this.puzzle.length; rowNo++){          
          // 新しいアクティブマスを探す
          if(clueNo == this.puzzle[rowNo][colNo].clueNo){
            this.activeMass = this.getNewActiveMass(rowNo, colNo, clueType);
            return;
          }
        }
      }

    },

    // 解答マス1文字戻る
    popAnswerMass(){
      let ansMassList = this.getAnsMassList();

      if(ansMassList.length == 0){
        return;
      }

      ansMassList[ansMassList.length - 1].keywordNo = null;
    },

    // 解答マス全クリア
    clearAnserMass(){
      for(let ansMass of this.getAnsMassList()){
        ansMass.keywordNo = null;
      }
    },

    // カギテキストクリア
    clearClueText(){
      let actMass = this.getActiveMass();
      let clueType = this.activeMass.clueType;

      this.clueListInfo[clueType][actMass.typeClueNo[clueType]] = null;
    },

    // カギテキスト全クリア
    clearAllClueText(){
      for(let clueType of Object.keys(this.clueListInfo)){
        for(let clueNo of Object.keys(this.clueListInfo[clueType])){
          this.clueListInfo[clueType][clueNo] = null;
        }
      }
    },

    // パズル保存
    async savePuzzle(){
      // confirm(JSON.stringify({puzzleId: this.puzzleId, title: this.title, puzzleInfo: this.puzzle, clueListInfo: this.clueListInfo}));
      this.waitFlg = true;

      try {
        await this.savePuzzleAsync();
      } finally {
        this.waitFlg = false;
      }

    },

    // パズル保存(非同期処理)
    async savePuzzleAsync(){
      return new Promise((resolve, reject) => {
        google.script.run
        .withSuccessHandler(puzzleId => {
          this.puzzleId = puzzleId;
          confirm("パズルを保存しました。ID:" + this.puzzleId);
          resolve();
        }).withFailureHandler(() =>{
          confirm("パズルの保存に失敗しました。");
          reject();
      })
        .savePuzzle(this.puzzleId, this.title, this.puzzle, this.clueListInfo);
      });
    }
  }
});
</script>
</html>